{
  "openapi": "3.1.0",
  "info": {
    "title": "获取所有渠道",
    "version": "1.0.0",
    "description": "👨‍💼 需要管理员权限（Admin）"
  },
  "servers": [
    {
      "url": "https://api.txtoken.cn"
    }
  ],
  "tags": [
    {
      "name": "渠道管理"
    }
  ],
  "paths": {
    "/api/channel/": {
      "get": {
        "tags": [
          "渠道管理"
        ],
        "summary": "获取所有渠道",
        "description": "👨‍💼 需要管理员权限（Admin）",
        "operationId": "get-api-channel",
        "parameters": [
          {
            "name": "p",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "page_size",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "id_sort",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "tag_mode",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "status",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "type",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "成功"
          }
        }
      }
    }
  }
}
